/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#333; margin:0 auto; }
table{border-collapse:collapse;border-spacing:0;}

a{color:#333;text-decoration:none;}
a:hover{color:#c00; text-decoration:underline;}

.box{ width:350px; margin:220px auto; position:relative;}
.box input{ margin-left:10px; border:none; border:1px solid #a10000; background:#c00; text-align:center; height:24px; line-height:20px; color:#fff; cursor:pointer;}

/*confirm */
#dvMsgBox{display:none;position:absolute;font-size:12px;width:300px;overflow:hidden;z-index:999; border-radius:3px; font-family:微软雅黑;}  
#dvMsgBox .top{height:40px; background-color:#fff; width:100%;text-align: center;position: relative;}  
#dvMsgBox .top .contain{height:100%;padding:0 4%;}  
#dvMsgBox .top .contain .title{height:100%;line-height:40px;color:#5E5E5E;vertical-align:middle;overflow:hidden;font-weight:600;font-size:16px;position:relative;border-bottom:#e6e7ec solid 1px;}  
#dvMsgBox .top .close{width: 16px;height: 16px;position: absolute;display: block;top: 11px;right: 20px;}
#dvMsgBox .body{background:#fff;}  
#dvMsgBox .body .contain{background:#fff;padding:0 4%;}  
#dvMsgBox .body .contain .ct{line-height: 34px;padding-top:10px;vertical-align: middle;width: 100%;text-align: left;color:#000!important;font-size: 14px;}  
#dvMsgBox .body .contain .ct input.msg_txtInput{width:70%;border: 1px inset rgb(238, 238, 238);line-height: 25px;}
#dvMsgBox .body .contain .ct .pro{width:100%;border:solid 1px #6593cf;height:25px;background:#ffffff;line-height:23px;overflow:hidden;box-sizing: border-box;}  
#dvMsgBox .body .contain .ct .pro .bg{width:0%;height:100%;background:#c9dffc;}  
#dvMsgBox .bottom{background:#fff;}  
#dvMsgBox .bottom .contain{height:100%;margin: 0 5%;}  
input.showboxbtnYes{width:85%;border-radius: 4px; font-family:微软雅黑; cursor:pointer; color:#fff; border:none; height:33px; text-align:center;  background-color:#21b387; margin:0px auto;}  
input.showboxbtnNo{width:85%;border-radius: 4px; font-family:微软雅黑; cursor:pointer; color:#21b387; border:none; height:33px; text-align:center;  background-color:#fff; margin:0px auto;border: 1px solid #21b387;}  
#dvMsgBox .icon{width:32px;height:32px;float:left;margin-right:10px;}  
#dvMsgBox .error{background:url(icon-error.gif) no-repeat;}  
#dvMsgBox .info{background:url(icon-info.gif) no-repeat;}  
#dvMsgBox .warning{background:url(icon-warning.gif) no-repeat;}  
#dvMsgBox .clear{clear:both;}  
#dvMsgBox .height{height:10px;line-height:10px;}  
#ShowBoxlightBox{display:none;-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;background-color:#000000;z-index:100;position:absolute;left:0px;top:0px;}
#dvMsgBtns{ text-align:center; width:100%;padding-top: 10px;}
.width50fl{width: 50%;float: left;}
/**/